@import 'reset.css';
/*///////////////////MAIN/////////////////////////*/
#wrap{
	height: 500px;
	width:  800px;
	display: block;
	margin: 0 auto;
	border: 1px solid black;
	position: relative;
}
#header{
	height: 52px;
	width: 295px;
	margin: 0 auto;
}
.title{
	margin-top: 20px;
	height: 52px;
	width: 295px;
	background-image: url(../images/title.png);
}
.menuMain{
	position: absolute;
	z-index: -1000;
}
.menuSelector{
	position: absolute;
	z-index: 1;
	margin-left: 263px;
	margin-top: 172px;
}